/*Navigation bar: Logo and Image  */

body {
    font-weight: bold;
    background-image: url('/image/ex.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

}

#navbar {
    display: flex;
    align-items: center;
    top: -8px;
    position: relative;
    border-radius: 15px;
}

#logo {
    margin: 10px 34px;
}

#logo img {
    height: 90px;
    width: 90px;
    margin: 5px -20px;
    border-radius: 50px;
}

#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai';
    font-size: 22px;
}

#navbar ul li {
    list-style: none;
    font-size: 1.2rem;
}

#navbar ul li a {
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: black;
}

.click1 {
    text-decoration: none;
    color: black;
}

#navbar ul li a:hover {
    color: white;
    background-color: black;
}

#navbar::before {
    content: "";
    background-color: #333;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    border-radius: 15px;
}

.h-primary-center {
    text-align: center;
}
.h-secondary-center{
    text-align: center;
}
#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid black;
    padding: 34px;
    margin: 3px 15px;
    border-radius: 10px;
    background-color: #e6e6e6;
}

#services .box img {
    height: 156px;
    margin: auto;
    display: block;
}

.box #bt {
    padding: 2px 2px;
    margin: auto 80px;
}

#bt {
    border-radius: 15px;
    background-color: lightskyblue;
    border: 2px solid white;
    text-align: center;
}
.center{
    text-align: center;
}

#bt:hover {
    padding: 2px 2px;
    border-radius: 15px;
    background-color: lightgreen;
}

#image {
    border-radius: 20px;
}

.zoom{
    transition: transform 0.4s;
}
.zoom:hover{
    transform: scale(1.1);
}